.div1{
    height: 250px;
    width: 350px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-mA37usM2lifsR4Z0fvENxXHc-FrP5Qkgaw&usqp=CAU);
    transition-duration: 3s;
    background-size: cover;

}
.div1:hover{
    height: 650px;
    width: 1000px;
    background-image: url(https://media.gettyimages.com/id/1297349747/photo/hot-air-balloons-flying-over-the-botan-canyon-in-turkey.jpg?s=612x612&w=gi&k=20&c=Uo_yzYm9UJu6GpKilOLGrCbiSjyMB5DsvZTYpybYxj4=);
    background-size:cover;
    
}